@use "./variables" as *;
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: var(--header-height);
  filter: drop-shadow(0px 4px 12px rgba($rx_black, 0.08));
  background-color: $rx_white;
  z-index: 999;
}

.navbar {
  // height:calc(var(--header-height) - 24px);
  height: var(--header-height);

  &-info {
    width: 100%;
    background-color: $rx_blue_light;
    text-align: center;

    &-link {
      color: $rx_white;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 1.5px;

      &:hover {
        color: $rx_white;
      }
    }
  }

  // logo
  &-brand {
    max-width: 240px;
    display: block;

    // pointer-events: none;
    &-img {
      max-width: inherit;
      width: 100%;
      object-fit: contain;
      object-position: center left;
    }
  }

  .btn-cart {
    position: relative;

    .badge {
      // position: absolute;
      // transform: translate(-50%,-50%);
      // left: 100%;
      // top: 0;
      left: -15px;
      top: -12.5px;
      border-radius: var(--bs-border-radius-pill);
      background-color: $rx_brown;
      font-weight: 400;
      color: $rx_white;
    }
  }

  &-cart {
    .btn-cart {
      margin-left: var(--p-10);
      margin-right: var(--p-10);
    }
  }

  // &-search-cart{
  //     &-wrapper{
  //         display: flex;
  //     }
  // }
  &-search-cart {
    &-wrapper {
      display: flex;
    }
  }

  &-search-form {
    .form-control {
      border-radius: 16px !important;
      padding-right: 50px;
      z-index: 1;
      border-color: $rx_gray;
      padding-left: 15px;
    }

    .btn {
      position: absolute;
      background-color: $rx_blue;
      color: $rx_white;
      border-radius: 16px !important;
      top: 0;
      right: 0;
      z-index: 6;
      height: 100%;
      pointer-events: none;
    }
  }

  // common pages links for mobile view and sidebar view
  &-collapse {
    &-nav {
      .nav-link {
        text-align: left;
        padding: 8px 24px 8px 50px;
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;

        .fa {
          display: none;
          margin-left: auto;
          font-size: 24px;
          color: inherit;
        }

        &-icon {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 20px;
          width: 20px;
          height: 20px;
          // height: 100%;
          object-fit: contain;
          object-position: center;
          display: block;
          margin-right: 10px;

          &-white {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 20px;
            width: 20px;
            height: 20px;
            // height: 100%;
            object-fit: contain;
            object-position: center;
          }

          // for fa icons
          &.fa {
            color: $rx_blue;
            font-size: 18px;
          }
        }

        &.active,
        &:hover {
          background-color: $rx_blue;
          color: $rx_white;

          .nav-link-icon {
            opacity: 0;
            visibility: hidden;
          }

          .nav-link-icon-white {
            opacity: 1 !important;
            visibility: visible;
          }

          .fa.nav-link-icon {
            color: $rx_white !important;
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }

  // web view
  &-web {
    .navbar-search {
      margin: 0 auto;
    }

    .nav {
      margin-left: auto;
    }

    .nav-link {
      display: block;
      line-height: 1.2;
      text-decoration: none;
      word-break: normal;
      word-wrap: normal;
      position: relative;
      border-radius: 10px;

      &-outline {
        background-color: $rx_white;
        // margin: 0 20px 0 5px;
        margin: 0 5px;
        color: $rx_blue;
        // border-radius: 16px;
        border-radius: 10px;
        border: 1px solid $rx_blue_light;
        width: auto;
        padding-left: 15px !important;
        padding-right: 15px !important;
        min-width: 100px;

        &:hover,
        &:focus {
          background: $rx_blue_light;
          color: $rx_white;
        }
      }

      &-dark {
        background: $rx_blue_light;
        margin: 0 5px;
        width: 100px;
        color: $rx_white;
        // border-radius: 16px;
        border-radius: 10px;
        border: 1px solid $rx_blue_light;

        &:hover,
        &:focus {
          background: $rx_white;
          color: $rx_blue_light;
        }
      }

      &-login {
        background: $rx_blue_light;
        margin: 0 5px;
        width: 100px;
        color: $rx_white;
        // border-radius: 16px;
        border-radius: 10px;
        border: 1px solid $rx_blue_light;

        &:hover,
        &:focus {
          background: $rx_white;
          color: $rx_blue_light;
        }
      }

      &-signup {
        background-color: $rx_white;
        margin: 0 20px 0 5px;
        color: $rx_blue;
        // border-radius: 16px;
        border-radius: 10px;
        border: 1px solid $rx_blue_light;
        width: 100px;

        &:hover,
        &:focus {
          background: $rx_blue_light;
          color: $rx_white;
        }
      }

      &-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        width: 20px;
        height: 20px;
        // height: 100%;
        object-fit: contain;
        object-position: center;
        display: block;
        margin-right: 10px;

        &-white {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 20px;
          width: 20px;
          height: 20px;
          // height: 100%;
          object-fit: contain;
          object-position: center;
        }

        // for fa icons
        &.fa {
          color: $rx_blue;
          font-size: 18px;
        }
      }

      &.active,
      &:hover {
        background-color: $rx_blue;
        color: $rx_white;
        border-radius: 10px;

        .nav-link-icon {
          opacity: 0;
          visibility: hidden;
        }

        .nav-link-icon-white {
          opacity: 1 !important;
          visibility: visible;
        }

        .fa.nav-link-icon {
          color: $rx_white !important;
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .dropdown {
      .nav-link {
        padding: 7.5px 5px 7.5px 30px;
        text-align: left;
        margin-bottom: 2.5px;
      }

      .nav-link-icon {
        left: 5px;
      }

      .nav-link-icon-white {
        left: 5px;
      }
    }

    .user-profile-pic {
      .btn {

        &:hover,
        &:active,
        &:focus {
          outline: none;

          .user-profile-shortname {
            color: $rx_white;
          }
        }
      }
    }

    .user-profile-shortname {
      width: 60px;
      height: 60px;
      border: 1px solid $rx_blue;
      background-color: $rx_blue;
      font-size: var(--font-18);
      color: $rx_white;
      line-height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-weight: bold;
      letter-spacing: 1px;
    }

    .user-profile-img {
      width: 60px;
      height: 60px;
      object-fit: cover;
      object-position: top center;
      border-radius: 50%;
      border: 1px solid $rx_blue;
    }
  }

  // mobile view
  &-mobile {
    &-top {
      display: flex;
      flex-wrap: inherit;
      align-items: center;
      justify-content: space-between;
      --bs-gutter-x: 1.5rem;
      --bs-gutter-y: 0;
      width: 100%;
      padding-right: calc(var(--bs-gutter-x) * .5);
      padding-left: calc(var(--bs-gutter-x) * .5);
      margin-right: auto;
      margin-left: auto;
    }

    &-bottom {
      display: flex;
      flex-wrap: inherit;
      align-items: center;
      justify-content: space-between;
      --bs-gutter-x: 1.5rem;
      --bs-gutter-y: 0;
      width: 100%;
      padding-right: calc(var(--bs-gutter-x) * .5);
      padding-left: calc(var(--bs-gutter-x) * .5);
      margin-right: auto;
      margin-left: auto;
    }

    &-toggler {
      padding: 0;
      border: 0;

      &:focus {
        box-shadow: none;
      }
    }

    &-brand {
      max-width: 120px;
    }

    &-cart {
      width: 30px;

      .btn-cart {
        img {
          width: 30px;
          height: 30px;
        }

        .badge {
          left: -85%;
        }
      }
    }

    &-search {
      width: 100%;
      margin-top: 3.5px;

      .form-control {
        border-radius: 4px !important;
      }

      .btn {
        border-radius: 4px !important;
      }
    }

    &-collapse {
      position: fixed;
      left: -100%;
      top: 0;
      bottom: 0;
      z-index: 999;
      min-height: 100vh;
      height: 100%;
      width: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      background-color: $rx_white_light;

      &-wrapper {
        // padding: 50px 24px 24px 24px;
        height: 100%;
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        flex-direction: column;
        position: relative;
      }

      &.show {
        left: 0;
      }

      &-toggler {
        position: absolute;
        top: 15px;
        left: 24px;
        padding: 0;
        border: 0;
        font-size: var(--font-18);

        &:focus {
          box-shadow: none;
        }
      }

      // top of mobile view
      &-user-info {
        display: flex;
        width: 100%;
        padding: 50px 24px 24px 24px;
        background-color: $rx_blue_1;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      .user-profile {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &-left {
          display: flex;
          flex-direction: column;
          text-align: left;
        }

        &-img {
          width: 60px;
          height: 60px;
          object-fit: cover;
          object-position: top center;
          border-radius: 50%;
          border: 1px solid $rx_blue;
        }

        &-shortname {
          width: 60px;
          height: 60px;
          border: 1px solid $rx_blue;
          background-color: $rx_blue;
          font-size: var(--font-18);
          color: $rx_white;
          line-height: 60pa;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          font-weight: bold;
          letter-spacing: 1px;
        }
      }

      .user-name {
        color: $rx_blue;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
      }

      .user-phone,
      .user-email {
        text-decoration: none;
        color: $rx_blue;
        font-weight: 400;
        font-size: 14px;
      }

      // links of pages mobile view
      &-pages-link {
        padding: 24px 0;
        width: 100%;
      }

    }

    // all links
    &-pages-link {
      width: 100%;
    }
  }

}


/* Search Dropdown - Match input width */
.search-container {
  position: relative;
}

.search-container .dropdown-menu {
  width: 100%;
  max-width: 100%;
  min-width: unset;
  
}