@use "./variables" as *;

:root {
  --header-height: 100px;
  --padding-y: 80px;
  --c-width: 100%;
  --c-width-calc: calc(100% - var(--c-width));
  --c-width-devide: calc(var(--c-width-calc) / 2);
  --c-width-final: calc(100% - var(--c-width-devide));
  --c-margin-left: calc(100% - var(--c-width-final));

  --font-72: 34px; // Big title
  --line-height-72: 36px;

  --font-60: 28px;
  --line-height-60: 30px;

  --font-48: 26px;
  --line-height-48: 28px;

  --font-42: 24px; // font for another pages
  --line-height-42: 32px;

  --font-34: 20px; // font for title
  --line-height-34: 24px;

  --font-24: 18px; // font for subtitle
  --line-height-24: 24px;

  --font-22: 16px; // font for subtitle
  --line-height-22: 22px;

  --font-20: 16px;
  --line-height-20: 20px;

  --font-18: 14px;
  --line-height-18: 18px;

  --font-16: 13px; // font common
  --line-height-16: 17px;

  --font-14: 12px;
  --line-height-14: 16px;

  --font-12: 12px;
  --line-height-14: 14px;

  --gap-30: 30px;
  --gap-20: 20px; // gap for column or card with using flex
  --gap-15: 7.5px;
  --gap-10: 10px;
  --gap-5: 5px;

  --h-60: 50px;
  --h-40: 36px; // height for button
  --h-32: 32px;

  --mb-32: 16px;
  --mb-20: 10px;
  --mb-15: 10px;
  --mb-10: 10px;

  --p-40: 30px;
  --p-32: 16px;
  --p-20: 10px;
  --p-10: 10px;
  --p-5: 5px;

  --px-modal: 15px;
}

html,
body {
  border: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
address,
big,
cite,
code,
em,
font,
img,
small,
strike,
sub,
sup,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tr,
th,
td {
  border: none;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;
}

html {
  font-size: var(--font-16);
  scroll-behavior: smooth;
}

body {
  background: $rx_white;
  box-sizing: border-box;
  color: $rx_gray;
  font-family: $rx_font;
  font-size: var(--font-16);
  font-weight: 400;
}

// common css start
.zi-0 {
  z-index: 0 !important;
}

.zi-1 {
  z-index: 1 !important;
}

.zi-2 {
  z-index: 2 !important;
}

.zi-m-a {
  z-index: -1 !important;
}

.gap-30 {
  gap: var(--gap-30);
}

.gap-20 {
  gap: var(--gap-20);
}

.gap-10 {
  gap: var(--gap-10);
}

.gap-10-y {
  row-gap: var(--gap-10);
}

.gap-10-x {
  column-gap: var(--gap-10);
}

.gap-15-y {
  row-gap: var(--gap-15);
}

.gap-15-x {
  column-gap: var(--gap-15);
}

.gap-20-y {
  row-gap: var(--gap-20);
}

.gap-20-x {
  column-gap: var(--gap-20);
}

.gap-30-y {
  row-gap: var(--gap-30);
}

.gap-30-x {
  column-gap: var(--gap-30);
}

.py-common {
  padding-top: var(--pad-y);
  padding-bottom: var(--pad-y);
}

.pt-common {
  padding-top: var(--pad-y);
}

.pb-common {
  padding-bottom: var(--pad-y);
}

main {
  overflow-x: hidden;
}

.section-item {
  position: relative;
  width: 100%;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;

  &:first-child {
    padding-top: var(--header-height);
  }
}

.wrapper {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.blue {
  color: $rx_blue;
}

.blue-light {
  color: $rx_blue_light;
}

.gray {
  color: $rx_gray;
}

.red {
  color: $rx_red;
}

.black-2 {
  color: $rx_black_2;
}

.green {
  color: $rx_green;
}

.text-u {
  text-decoration: underline;
}

.fw-4 {
  font-weight: 400;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}

// fontsize
.fs-72 {
  font-size: var(--font-72) !important;
}

.fs-60 {
  font-size: var(--font-60) !important;
}

.fs-48 {
  font-size: var(--font-48) !important;
}

.fs-42 {
  font-size: var(--font-42) !important;
}

.fs-34 {
  font-size: var(--font-34) !important;
}

.fs-24 {
  font-size: var(--font-24) !important;
}

.fs-22 {
  font-size: var(--font-22) !important;
}

.fs-20 {
  font-size: var(--font-20) !important;
}

.fs-18 {
  font-size: var(--font-18) !important;
}

.fs-16 {
  font-size: var(--font-16) !important;
}

.fs-14 {
  font-size: var(--font-14) !important;
}

.fs-12 {
  font-size: var(--font-12) !important;
}

// for card width
.w-650 {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.w-340 {
  max-width: 340px;
  width: 100%;
}

// for button width or any other
.w-105 {
  max-width: 105px;
  width: 100%;
}

// common wrapper for homepage, about, faqs, pp and tnc
section {
  position: relative;
}

.wrapper-common {
  z-index: 1;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.abs-bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  user-select: none;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: center;
}

.img-contain {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: auto;
}

.img-cover {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: auto;
}

.container-ml {
  margin-left: var(--c-margin-left);
}