$rx_font: 'Poppins', sans-serif;

$rx_black: rgb(0, 0, 0); //#000000;
$rx_black_1: rgb(38, 50, 56); //#263238;
$rx_black_2: rgb(38, 38, 38); //#262626;
$rx_black_3: rgb(34, 50, 56); //#223238;
$rx_white: rgb(255, 255, 255); //#FFFFFF
$rx_gray: rgb(92, 92, 92); //#5c5c5c;
$rx_blue: rgb(40, 86, 110); //#28566e;
$rx_blue_light: rgb(101, 147, 180); //#6593b4;
$rx_red: rgba(255, 0, 0); //#ff0000;
$rx_brown: rgb(209, 65, 65); //#D14141
$rx_green: rgb(56, 166, 147); //#38A693;
$rx_blue_1: rgb(198, 236, 255); //#c6ecff
$rx_blue_2: rgb(232, 245, 255); //#E8F5FF
$rx_white_light: rgb(244, 249, 255); //#f4f9ff;
$header_height: 100px;
$pad-y: 100px;


$rx_lp_blue: #3D7FC5;
$rx_lp_blue_1: #3E82CC;
$rx_lp_blue_2: #3976B1;
$rx_lp_blue_3: #EBF5FF;